---
layout: layout.liquid
title: Homepage
---

 
<div class = "content">
  <div class = "column">
    <h1>Welcome to <strong>In Another BloGalaxy</strong>!</h1>
     <h3>Hi, My name is Stella. It is <strong>SUPER</strong> nice to meet you! I am an interstellar explorer
     with several years of experience. One of my greatest accomplishments is that I have traveled a distance of about 7 
     light years. If you are interested in learning more about my adventures and hearing about my latest destinations,
     check out my blog posts : 
    </h3>
    <ul> 
      <li class = "bloglink"><a href="/blogone/">To Explore or Not To Explore: That is the Question</a></li>
      <li class = "bloglink"><a href="/blogtwo/" >Walk a Lightyear in My Shoes</a></li>
    </ul>
    
  </div>
  <div class = "column">
    <img class="stellapic" src="images/Stella.png" alt ="Stella" >
  </div>
</div>
