body {
  display: flex;
  flex-direction: column;
}
.postTitle {
  text-align: left;
  font-size: 42px;
}

.author {
  color: #eae8ff;
  font-style: italic;
  text-align: left;
  font-weight: bold;
  padding-bottom: 2%;
  font-size: 30px;
}

.postContent {
  text-align: left;
  width: 50%;
  font-size: 22px;
  background-color: rgb(120, 41, 136);
  margin: auto;
  padding: 20px;
}
